<script>


    function cargarDatosFoto(external) {

        document.getElementById("externalM").value = external;
    }
    function link(comp, link) {
      // console.log(comp);
    //    console.log(link);
        var estado = document.getElementById(comp).value;
        if(estado == "") {
            estado = "NADA";
        }
      //  console.log(estado);
      
        document.getElementById(link).href = "/administrador/curso-activo/estado/"+comp+"/"+estado;//estado;
    }
</script>
<div class="card">
    <div class="card-header bg-facebook">
        <strong class="card-title text-white">LISTADO DE CURSOS ACTIVOS</strong>
    </div>
    <div class="card-body">



        <a href="/administrador/curso-activo/registro" class="btn bg-facebook mb-1 text-white">
            NUEVO
        </a>

        <table id="tabla" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nro</th>
                    <th>Poster</th>
                    <th>Nombre</th>
                    <th>Certificado</th>
                    <th>Precio</th>
                    <th>Fechas</th>
                    <th>Docente</th>
                    <th>Estado</th>                    
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% lista.forEach(function (item, index) { %>
                <tr>
                    <td><%= (index + 1) %></td>                    
                    <td>
                        <div class="col-lg-6 card-footer">
                            <img src="/images/uploads/curso-activo/<%= item.poster %>" height="100"/>      
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditarFoto" onclick="cargarDatosFoto('<%= item.external_id %>')">
                                <i class="fa fa-pencil"></i> Modificar
                            </button>

                        </div>
                    </td>
                    <td><%= item.curso.nombre %></td>
                    <td>
                        <% if(item.certificado) { %>
                        <p class="badge badge-pill badge-primary">SI</p>
                        <% }else{ %>
                        <p class="badge badge-pill badge-warning">NO</p>
                        <% } %>
                    </td>
                    <td><i class="fa fa-dollar"></i> <%= item.precio %></td>
                    <td>                        
                        <p class="badge badge-pill badge-primary">INICIO:</p> <%= item.fecha_inicio.toISOString().substring(0, 10) %></br>
                        <p class="badge badge-pill badge-primary">FINALIZACION:</p> <%= item.fecha_final.toISOString().substring(0, 10) %>
                    </td>
                    <td><i class="fa fa-user"></i> <%= item.docente %></td>
                    <td><i class="fa fa-user"></i> <%= item.estado %></td>
                    <td>
                        <a href="/administrador/curso-activo/modificar/<%= item.external_id %>" class="btn bg-facebook mb-1 text-white">EDITAR</a>
                        <div class="small form-inline">
                            <select id="<%= item.external_id %>" onchange="link('<%= item.external_id %>', 'link_<%= item.external_id %>')">
                                <option value="">SELECCIONE</option>
                                <% estado.forEach(function (item1, index) { %>
                                
                                <% if(item1 != item.estado) { %>
                                <option value="<%= item1 %>"><%= item1 %></option>
                                <% } %>

                                <% }) %>    
                            </select>
                            <a id="link_<%= item.external_id %>" href="/administrador/curso-activo/estado/<%= item.external_id %>/NADA" class="btn btn-warning btn-sm">CAMBIAR</a>
                        </div>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>





<!-- editar foto-->

<div class="modal fade" id="modalEditarFoto" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Editar foto del curso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formF" action="/administrador/curso-activo/editar/foto" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-book"></i></div>
                                <input type="hidden" id="externalM" name="external" value="0" />
                                <input type="file" id="archivoM" name="archivo" placeholder="Foto" class="form-control">
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Modificar foto</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/admin/assets/js/lib/data-table/datatables.min.js"></script>


<script src="/admin/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="/admin/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="/admin/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="/admin/assets/js/lib/data-table/jszip.min.js"></script>
<script src="/admin/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="/admin/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="/admin/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="/admin/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="/admin/assets/js/init/datatables-init.js"></script>
<script src="/javascripts/fileinput.min.js"></script>
<script src="/themes/explorer-fa/theme.js" type="text/javascript"></script>

<script src="/javascripts/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>


<script type="text/javascript">
                                $(document).ready(function () {
                                    jQuery.noConflict();
                                    $('#tabla').DataTable(
                                            {
                                                "language": {
                                                    "sProcessing": "Procesando...",
                                                    "sLengthMenu": "Mostrar _MENU_ registros",
                                                    "sZeroRecords": "No se encontraron resultados",
                                                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                                                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                                    "sInfoPostFix": "",
                                                    "sSearch": "Buscar:",
                                                    "sUrl": "",
                                                    "sInfoThousands": ",",
                                                    "sLoadingRecords": "Cargando...",
                                                    "oPaginate": {
                                                        "sFirst": "Primero",
                                                        "sLast": "Último",
                                                        "sNext": "Siguiente",
                                                        "sPrevious": "Anterior"
                                                    },
                                                    "oAria": {
                                                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                                    }
                                                }
                                            }
                                    );

                                    $("#foto, #archivoM").fileinput({
                                        showUpload: false,
                                        dropZoneEnabled: false,
                                        maxFileCount: 10,

                                        theme: 'fa',
                                        maxFileSize: 1024,
                                        allowedFileExtensions: ['jpg', 'png', 'gif', 'jpeg']
                                    });
                                    var form = $("#form");
                                    form.validate({
                                        errorPlacement: function (error, element) {
                                            element.css('background', '#ffdddd');
                                            error.css('color', 'red');
                                            error.insertAfter(element);
                                        },
                                        rules: {
                                            nombre: {
                                                required: true
                                            },
                                            archivo: {
                                                required: true
                                            }
                                        }
                                    });
                                    var formM = $("#formM");
                                    formM.validate({
                                        errorPlacement: function (error, element) {
                                            element.css('background', '#ffdddd');
                                            error.css('color', 'red');
                                            error.insertAfter(element);
                                        },
                                        rules: {
                                            nombre: {
                                                required: true
                                            },
                                            external: {
                                                required: true
                                            }
                                        }
                                    });

                                    var formF = $("#formF");
                                    formF.validate({
                                        errorPlacement: function (error, element) {
                                            element.css('background', '#ffdddd');
                                            error.css('color', 'red');
                                            error.insertAfter(element);
                                        },
                                        rules: {
                                            archivo: {
                                                required: true
                                            },
                                            external: {
                                                required: true
                                            }
                                        }
                                    });
                                    //formM  formF
                                    //************************

                                });
</script>

