
<div class="card">
    <div class="card-header bg-facebook">
        <strong class="card-title text-white">LISTADO DE POSTULACIONES</strong>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label>Cursos activos</label>
            <select id="cursos" class="form-control">
                <option value="">TODOS</option>
                <% cursos.forEach(function (item, index) { %>
                <option value="<%=item.external_id %>"><%= item.curso.nombre%></option>
                <% }) %>
            </select>
        </div>

        <table id="tabla" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nro</th>
                    <th>Identificación</th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Facilitador</th>
                    <th>Curso</th>
                    <th>Fechas</th>                    
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% lista.forEach(function (item, index) { %>
                <tr>
                    
                    <td><%= (index + 1) %></td>
                    <td><%= item.persona.cedula %></td>
                    <td><%= item.persona.apellidos %> <%= item.persona.nombres %></td>
                    <td><%= item.persona.correo %> </td>
                    <td>


                        <p class="badge badge-pill badge-primary"><%= item.curso_activo.docente  %></p>


                    </td>
                    <td>


                        <p class="badge badge-pill badge-primary"><%= item.curso_activo.curso.nombre  %></p>


                    </td>

                    <td><p class="badge badge-pill badge-danger">DESDES:</p> <%= item.curso_activo.fecha_inicio.toISOString().substring(0, 10) %> <p class="badge badge-pill badge-danger">HASTA:</p> <%= item.curso_activo.fecha_final.toISOString().substring(0, 10) %></td>

                    <td>



                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>



<script src="/admin/assets/js/lib/data-table/datatables.min.js"></script>


<script src="/admin/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="/admin/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="/admin/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="/admin/assets/js/lib/data-table/jszip.min.js"></script>
<script src="/admin/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="/admin/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="/admin/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="/admin/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="/admin/assets/js/init/datatables-init.js"></script>
<script src="/javascripts/fileinput.min.js"></script>
<script src="/themes/explorer-fa/theme.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        tabla();
        cargar();
    });
    
    function tabla() {
        $('#tabla').DataTable(
                {
                    dom: 'Bfrtip',
                     buttons: [
                        'excel', 'pdf'
                     ],
                    "language": {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                }
        );
    }
    
    function cargar() {
        $("#cursos").change(function () {
            var valor = $("#cursos").val();
            if (valor == '') {
                valor = "NADA";
            }
            $.ajax({

                url: "/administrador/inscritos/filtrado/" + valor,
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    var html = "";
                    var cont = 0;
                    console.log(data.lista);
                    $.each(data.lista, function (i, item) {
                        console.log(item);
                        html += '<tr>';
                        html += '<td>';
                        html += (cont + 1);
                        html += '</td>';
                        html += '<td>';
                        html += item.persona.cedula;
                        html += '</td>';
                        html += '<td>';
                        html += item.persona.apellidos + " " + item.persona.nombres;
                        html += '</td>';
                        html += '<td>';
                        html += item.persona.correo;
                        html += '</td>';
                        html += '<td>';
                        html += item.curso_activo.docente;
                        html += '</td>';
                        html += '<td>';
                        html += item.curso_activo.curso.nombre;
                        html += '</td>';
                        html += '<td>';
                        html += "<p class='badge badge-pill badge-danger'>DESDE: </p>" + item.curso_activo.fecha_inicio.substring(0, 10) + "<p class='badge badge-pill badge-danger'> HASTA: </p>" + item.curso_activo.fecha_final.substring(0, 10);
                        html += '</td>';
                        html += '<td>';
                        //html += item.curso_activo.fecha_inicio;
                        html += '</td>';
                        html += '</tr>';
                        cont++;
                        console.log("***************");
                    });
                    $("#tabla tbody").html(html);
                    $('#tabla').DataTable().refresh();
                   //tabla();
                   //$('#tabla').DataTable();
                }
            });
        });
    }
</script>
