
<div class="card">
    <div class="card-header bg-facebook">
        <strong class="card-title text-white">CAMBIO DE CLAVE Y DATOS</strong>
    </div>
    <div class="card-body">
        <form id="form" action="/administrador/curso-activo/guardar" method="POST" enctype="multipart/form-data">
            <div class="modal-body">

                <div class="row">
                    <div class="col-6">
                        <label for="curso" class="control-label mb-1"><i class="fa fa-book"></i> Curso</label>

                        <!--<div class="input-group-addon"><i class="fa fa-book"></i></div>-->
                        <select id="curso" name="curso" data-placeholder="Escoja un curso" class="form-control standardSelect" tabindex="1">

                            <% lista.forEach(function (item, index) { %>
                            <option value="<%= item.external_id %>"><%= item.nombre %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="docente" class="control-label mb-1"><i class="fa fa-user"></i> Facilitador</label>
                        <div class="input-group">
                            <input id="docente" name="docente" type="tel" class="form-control cc-cvc" placeholder="Nombre del facilitador" autocomplete="off">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label for="estado" class="control-label mb-1"><i class="fa fa-book"></i> Estado del Curso</label>

                        <!--<div class="input-group-addon"><i class="fa fa-book"></i></div>-->
                        <select id="estado" name="estado" data-placeholder="Escoja el estado" class="form-control standardSelect" tabindex="1">

                            <% estado.forEach(function (item, index) { %>
                            <option value="<%= item %>"><%= item %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="tipo" class="control-label mb-1"><i class="fa fa-book"></i> Tipo de Curso</label>

                        <!--<div class="input-group-addon"><i class="fa fa-book"></i></div>-->
                        <select id="tipo" name="tipo" data-placeholder="Escoja un tipo de curso" class="form-control standardSelect" tabindex="1">

                            <% tipo.forEach(function (item, index) { %>
                            <option value="<%= item %>"><%= item %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label for="inicio" class="control-label mb-1"><i class="fa fa-calendar-o"></i> Fecha de inicio</label>

                        <!--<div class="input-group-addon"><i class="fa fa-book"></i></div>-->
                        <input id="inicio" name="fecha_inicio" type="date" class="form-control" placeholder="Fecha de inicio" autocomplete="off">
                    </div>
                    <div class="col-6">
                        <label for="finalizacion" class="control-label mb-1"><i class="fa fa-calendar"></i> Fecha de finalizacion</label>
                        <div class="input-group">
                            <input id="finalizacion" name="fecha_final" type="date" class="form-control" placeholder="Fecha de finalizacion" autocomplete="off">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label for="horario" class="control-label mb-1"><i class="ti-timer"></i> Horario</label>

                        <!--<div class="input-group-addon"><i class="fa fa-book"></i></div>-->
                        <input id="horario" name="horario" type="text" class="form-control" placeholder="Horario" autocomplete="off">
                    </div>
                    <div class="col-6">
                        <label for="horas" class="control-label mb-1"><i class="ti-alarm-clock"></i> Horas del curso</label>
                        <div class="input-group">
                            <input id="horas" name="horas" type="number" class="form-control" placeholder="Horas del curso" value="10" step="1" max="200" autocomplete="off">

                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-6">
                        <label for="certificado" class="control-label mb-1"><i class="ti-bookmark"></i> Certificado</label>
                        <div class="input-group">
                            <label class="switch switch-3d switch-primary mr-3"><input id="certificado" name="certificado"  type="checkbox" class="switch-input" checked="true"> <span class="switch-label"></span> <span class="switch-handle"></span></label>

                        </div>
                    </div>
                    <div class="col-6">
                        <label for="tipo_cert" class="control-label mb-1"><i class="ti-book"></i> Tipo de certificacion</label>

                        <!--<div class="input-group-addon"><i class="fa fa-book"></i></div>-->
                        <select name="tipo_cert" id="tipo_cert" data-placeholder="Escoja el tipo de certificacion" class="form-control standardSelect" tabindex="1">

                            <% tipo_cert.forEach(function (item, index) { %>
                            <option value="<%= item %>"><%= item %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label for="precio" class="control-label mb-1"><i class="fa fa-dollar"></i> Precio</label>

                        <!--<div class="input-group-addon"><i class="fa fa-book"></i></div>-->
                        <input id="precio" name="precio" type="text" class="form-control" placeholder="Precio" autocomplete="off">
                    </div>
                    <div class="col-6">
                        <label for="resumen" class="control-label mb-1"><i class="fa fa-dollar"></i> Resumen</label>

                        <!--<div class="input-group-addon"><i class="fa fa-book"></i></div>-->
                        
                        <textarea id="resumen" name="resumen"  class="form-control" placeholder="Resumen" ></textarea>
                    </div>

                </div>

                <div class="row">
                    <div class="col-6">
                        <label for="foto" class="control-label mb-1"><i class="fa  fa-camera-retro"></i> Poster</label>

                        <!--<div class="input-group-addon"><i class="fa fa-book"></i></div>-->
                        <input id="foto" name="archivo" type="file" class="form-control" placeholder="Poster" autocomplete="off">
                    </div>

                </div>

                <div class="row">

                    <div class="col-12">
                        <label for="output" class="control-label mb-1"><i class="fa fa-file-text-o"></i> Tematicas</label>
                        <div>
                            <div>
                                <div id='editControls'>

                                    <div class="editor">
                                        <a data-role='undo' href='javascript:void(0)'><i class='fa fa-undo'></i></a>
                                        <a data-role='redo' href='javascript:void(0)'><i class='fa fa-repeat'></i></a>
                                        <a data-role='bold' href='javascript:void(0)'><i class='fa fa-bold'></i></a>
                                        <a data-role='italic' href='javascript:void(0)'><i class='fa fa-italic'></i></a>
                                        <a data-role='underline' href='javascript:void(0)'><i class='fa fa-underline'></i></a>
                                        <a data-role='strikeThrough' href='javascript:void(0)'><i class='fa fa-strikethrough'></i></a>
                                        <a data-role='justifyLeft' href='javascript:void(0)'><i class='fa fa-align-left'></i></a>
                                        <a data-role='justifyCenter' href='javascript:void(0)'><i class='fa fa-align-center'></i></a>
                                        <a data-role='justifyRight' href='javascript:void(0)'><i class='fa fa-align-right'></i></a>
                                        <a data-role='justifyFull' href='javascript:void(0)'><i class='fa fa-align-justify'></i></a>
                                        <a data-role='indent' href='javascript:void(0)'><i class='fa fa-indent'></i></a>
                                        <a data-role='outdent' href='javascript:void(0)'><i class='fa fa-outdent'></i></a>
                                        <a data-role='insertUnorderedList' href='javascript:void(0)'><i class='fa fa-list-ul'></i></a>
                                        <a data-role='insertOrderedList' href='javascript:void(0)'><i class='fa fa-list-ol'></i></a>
                                        <a data-role='h1' href='javascript:void(0)'>h<sup>1</sup></a>
                                        <a data-role='h2' href='javascript:void(0)'>h<sup>2</sup></a>
                                        <a data-role='p' href='javascript:void(0)'>p</a>
                                        <a data-role='subscript' href='javascript:void(0)'><i class='fa fa-subscript'></i></a>
                                        <a data-role='superscript' href='javascript:void(0)'><i class='fa fa-superscript'></i></a>
                                    </div>
                                </div>
                                <div id='editor' contenteditable>

                                </div>
                                <textarea id='output' name="descripcion" readonly></textarea>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" href="/administrador/curso-activo">Cancelar</a>
                
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>  
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="/javascripts/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>
<script src="/admin/assets/js/lib/chosen/chosen.jquery.min.js"></script>
s
<script src="/javascripts/fileinput.min.js"></script>
<script src="/themes/explorer-fa/theme.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //  jQuery.noConflict();
        //jQuery.noConflict();
       // $("#curso").chosen();
        $("#foto").fileinput({
            showUpload: false,
            dropZoneEnabled: false,
            maxFileCount: 10,

            theme: 'fa',
            maxFileSize: 1024,
            allowedFileExtensions: ['jpg', 'png', 'gif', 'jpeg']
        });

        ////// EDITOR ///
        $('#editControls a').click(function (e) {
            switch ($(this).data('role')) {
                case 'h1':
                case 'h2':
                case 'p':
                    document.execCommand('formatBlock', false, $(this).data('role'));
                    break;
                default:
                    document.execCommand($(this).data('role'), false, null);
                    break;
            }
            update_output();
        })

        $('#editor').bind('blur keyup paste copy cut mouseup', function (e) {
            update_output();
        })

        function update_output() {
            $('#output').val($('#editor').html());
        }
        ///////

        //*****************VALIDACION**********//
        var form = $("#form");
        form.validate({
            errorPlacement: function (error, element) {
                // element.css('background', '#ffdddd');
                error.css('color', 'red');
                error.insertAfter(element);
                console.log(element);
            },
            rules: {
                curso: {
                    required: true
                },
                docente: {
                    required: true,
                    minlength: 3,
                    maxlength: 99
                },
                resumen: {
                    required: true,
                    minlength: 3,
                    maxlength: 2999
                },
                estado: {
                    required: true
                },
                tipo: {
                    required: true
                },
                fecha_inicio: {
                    required: true
                },
                fecha_final: {
                    required: true
                },
                archivo: {
                    required: true
                },
                horario: {
                    required: true,
                    minlength: 3,
                    maxlength: 99
                },
                horas: {
                    required: true,
                    number: true
                },
                precio: {
                    required: true,
                    number: true
                },
                descripcion: {
                    required: true,
                    minlength: 3,
                    maxlength: 60000
                },
                tipo_cert: {
                    required: "#certificado:checked"
                }


            }
        });
       // $('#estado').prop('disabled', true);
        $("#tipo_cert").prop('selectedIndex',1);
        $('#certificado').on('click', function () {
            if ($(this).is(':checked')) {
                // Hacer algo si el checkbox ha sido seleccionado
                //alert("El checkbox con valor " + $(this).val() + " ha sido seleccionado");
                $('#tipo_cert').prop('disabled', false);
                $("#tipo_cert").prop('selectedIndex',1);
            } else {
                $('#tipo_cert').prop('disabled', true);
                $("#tipo_cert").prop('selectedIndex',0);
                // Hacer algo si el checkbox ha sido deseleccionado
                //alert("El checkbox con valor " + $(this).val() + " ha sido deseleccionado");
            }
        });


    });
</script>
