
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Educacion continua</title>
        <meta name="description" content="Ela Admin - HTML5 Admin Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/img/logo1.png">
        <link rel="shortcut icon" href="/img/logo1.png">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
        <link rel="stylesheet" href="/admin/assets/css/cs-skin-elastic.css">
        <link rel="stylesheet" href="/admin/assets/css/style.css">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>


        <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script> 
        <script src="/admin/assets/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
        <script src="/javascripts/jquery-validation/dist/jquery.validate.min.js"></script>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
        
                var form = $("#form");
                form.validate({
                    errorPlacement: function (error, element) {
                        // element.css('background', '#ffdddd');
                        error.css('color', 'red');
                        error.insertAfter(element);
                        console.log(element);
                    },
                    rules: {

                        correo: {
                            required: true,
                            minlength: 3,
                            maxlength: 250
                        },
                        clave: {
                            required: true,
                            minlength: 3,
                            maxlength: 250
                        }


                    }
                });
            });
        </script>
        <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    </head>
    <body class="bg-dark">

        <div class="sufee-login d-flex align-content-center flex-wrap">
            <div class="container">
                <div class="login-content" style="background: white">
                    <div class="login-logo" style="margin: 30px">
                        <a href="index.html">
                            <img class="align-content img-responsive" src="/img/logo.jpg" style="margin-top: 30px" alt="">
                        </a>
                    </div>
                    <div class="login-form">
                        <form id="form" method="post" action="/inicio_sesion">
                            <% if(typeof msg != 'undefined') { %>
                        <% if(typeof msg.error != 'undefined' && msg.error.length > 0) { %>

                        <div class="alert alert-danger alert-dismissable" >
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <%= msg.error %>
                        </div>                        

                        <% } %>
                        <% if(typeof msg.info != 'undefined' && msg.info.length > 0) { %>
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <%= msg.info %>

                        </div>                  
                        <% } %>
                        <% } %>
                            <div class="form-group">
                                <label>Correo electronico</label>
                                <input type="email" name="correo" class="form-control" placeholder="Correo electronico">
                            </div>
                            <div class="form-group">
                                <label>Clave</label>
                                <input type="password" name="clave" class="form-control" placeholder="Clave">
                            </div>
                            <div class="checkbox">                            
                                <label class="pull-left">
                                    <a href="/" class="btn btn-danger text-white">Pagina Principal</a>
                                </label>
                                <label class="pull-right">
                                    <a href="#">Se olvido su clave?</a>
                                </label>

                            </div>
                            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Entrar</button>

                            <div class="register-link m-t-15 text-center">
                                <p>No tienes cuenta ? <a href="/registro" class="btn-link"> Registrate aqui!</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </body>
</html>