<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ela Admin - HTML5 Admin Template</title>
        <meta name="description" content="Ela Admin - HTML5 Admin Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
        <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
        <link rel="stylesheet" href="/admin/assets/css/cs-skin-elastic.css">
        <link rel="stylesheet" href="/admin/assets/css/style.css">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

        <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
        <script src="/admin/assets/js/main.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
        <script src="/javascripts/jquery-validation/dist/jquery.validate.min.js"></script>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {

                jQuery.validator.addMethod("cedula",
                        function (value, element) {
                            if (value.length == 10) {

                                //Obtenemos el digito de la region que sonlos dos primeros digitos
                                var digito_region = value.substring(0, 2);

                                //Pregunto si la region existe ecuador se divide en 24 regiones
                                if (digito_region >= 1 && digito_region <= 24) {

                                    // Extraigo el ultimo digito
                                    var ultimo_digito = value.substring(9, 10);

                                    //Agrupo todos los pares y los sumo
                                    var pares = parseInt(value.substring(1, 2)) + parseInt(value.substring(3, 4)) + parseInt(value.substring(5, 6)) + parseInt(value.substring(7, 8));

                                    //Agrupo los impares, los multiplico por un factor de 2, si la resultante es > que 9 le restamos el 9 a la resultante
                                    var numero1 = value.substring(0, 1);
                                    var numero1 = (numero1 * 2);
                                    if (numero1 > 9) {
                                        var numero1 = (numero1 - 9);
                                    }

                                    var numero3 = value.substring(2, 3);
                                    var numero3 = (numero3 * 2);
                                    if (numero3 > 9) {
                                        var numero3 = (numero3 - 9);
                                    }

                                    var numero5 = value.substring(4, 5);
                                    var numero5 = (numero5 * 2);
                                    if (numero5 > 9) {
                                        var numero5 = (numero5 - 9);
                                    }

                                    var numero7 = value.substring(6, 7);
                                    var numero7 = (numero7 * 2);
                                    if (numero7 > 9) {
                                        var numero7 = (numero7 - 9);
                                    }

                                    var numero9 = value.substring(8, 9);
                                    var numero9 = (numero9 * 2);
                                    if (numero9 > 9) {
                                        var numero9 = (numero9 - 9);
                                    }

                                    var impares = numero1 + numero3 + numero5 + numero7 + numero9;

                                    //Suma total
                                    var suma_total = (pares + impares);

                                    //extraemos el primero digito
                                    var primer_digito_suma = String(suma_total).substring(0, 1);

                                    //Obtenemos la decena inmediata
                                    var decena = (parseInt(primer_digito_suma) + 1) * 10;

                                    //Obtenemos la resta de la decena inmediata - la suma_total esto nos da el digito validador
                                    var digito_validador = decena - suma_total;

                                    //Si el digito validador es = a 10 toma el valor de 0
                                    if (digito_validador == 10)
                                        var digito_validador = 0;

                                    //Validamos que el digito validador sea igual al de la cedula
                                    if (digito_validador == ultimo_digito) {
                                        console.log('la cedula:' + value + ' es correcta');
                                        return true;
                                    } else {
                                        console.log('la cedula:' + value + ' es incorrecta');
                                        return false;
                                    }

                                } else {
                                    // imprimimos en consola si la region no pertenece
                                    console.log('Esta cedula no pertenece a ninguna region');
                                    return false;
                                }
                            } else {
                                //imprimimos en consola si la cedula tiene mas o menos de 10 digitos
                                console.log('Esta cedula tiene menos de 10 Digitos');
                                return false;
                            }

                            return /^[A-Za-z\d=#$%@_ -]+$/.test(value);
                        },
                        "Cedula incorrecta"
                        );
                var form = $("#form");
                form.validate({
                    errorPlacement: function (error, element) {
                        // element.css('background', '#ffdddd');
                        error.css('color', 'red');
                        error.insertAfter(element);
                       
                    },
                    rules: {
                        cedula: {
                            required: true,
                            minlength: 10,
                            maxlength: 10,
                            cedula: true
                        },
                        correo: {
                            required: true,
                            minlength: 3,
                            maxlength: 250
                        },
                        apellidos: {
                            required: true,
                            minlength: 3,
                            maxlength: 250
                        },
                        nombres: {
                            required: true,
                            minlength: 3,
                            maxlength: 250
                        },
                        clave: {
                            required: true,
                            minlength: 3,
                            maxlength: 8
                        },
                        claveR: {
                            required: true,
                            minlength: 3,
                            maxlength: 8,
                            equalTo: "#clave"
                        }

                    }
                });
            });
        </script>

    </head>
    <body class="bg-dark">

        <div class="sufee-login d-flex align-content-center flex-wrap">
            <div class="container">
                <div class="login-content" style="background: white">
                    <div class="login-logo" style="margin: 30px" >
                        <a href="index.html">
                            <img class="align-content" src="/img/logo.jpg" style="margin-top: 30px" alt="">
                        </a>
                    </div>
                    <div class="login-form">
                        
                        <form id="form" method="post" action="/registro/guardar">
                            <% if(typeof msg != 'undefined') { %>
                        <% if(typeof msg.error != 'undefined' && msg.error.length > 0) { %>

                        <div class="alert alert-danger alert-dismissable" >
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <%= msg.error %>
                        </div>                        

                        <% } %>
                        <% if(typeof msg.info != 'undefined' && msg.info.length > 0) { %>
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <%= msg.info %>

                        </div>                  
                        <% } %>
                        <% } %>
                            <div class="form-group">
                                <label>Cedula</label>
                                <input name="cedula" type="text" class="form-control" placeholder="Cedula">
                            </div>
                            <div class="form-group">
                                <label>Apellidos</label>
                                <input name="apellidos" type="text" class="form-control" placeholder="Apellidos">
                            </div>
                            <div class="form-group">
                                <label>Nombres</label>
                                <input type="text" class="form-control" placeholder="Nombres" name="nombres">
                            </div>
                            <div class="form-group">
                                <label>Correo electronico</label>
                                <input type="email" class="form-control" placeholder="Correo electronico" name="correo">
                            </div>
                            <div class="form-group">
                                <label>Clave</label>
                                <input type="password" class="form-control" placeholder="Clave" name="clave" id="clave">
                            </div>
                            <div class="form-group">
                                <label>Repita su Clave</label>
                                <input type="password" class="form-control" placeholder="Repita su clave" name="claveR">
                            </div>

                            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Register</button>

                            <div class="register-link m-t-15 text-center">
                                <p>Ya tienes cuenta ? <a href="/inicioSesion"> Inicia sesion</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </body>
</html>