<header id="head" class="secondary">
    <div class="container">
        <h1><%= curso.curso.nombre %></h1>

        
    </div>
</header>

<div class="container">
    <div class="img-responsive" style="width: 800px;height: 450px; align-content: center; margin-left: auto; margin-right: auto;">
        <img class="img-rounded" src="/images/uploads/curso-activo/<%= curso.poster %>" style="width: 800px;height: 450px; align-content: center"/>       
    </div>    

</div>

<div class="row">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Información</a></li>
            <li><a data-toggle="tab" href="#menu1">Temáticas</a></li>
            <li><a data-toggle="tab" href="#menu2">Inscribete</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>Descripción</h3>
                <p><%= curso.resumen %></p>
                <h3>Facilitador</h3>
                <p><%= curso.docente %></p>
                <h3>Modalidad</h3>
                <p><%= curso.tipo %></p>
                <h3>Fecha de inicio</h3>
                <p><%= curso.fecha_inicio.toISOString().substring(0, 10) %></p>
                <h3>Fecha de finalizacion</h3>
                <p><%= curso.fecha_final.toISOString().substring(0, 10) %></p>
                <h3>Horario</h3>
                <p><%= curso.horario %></p>
                <h3>Horas del curso</h3>
                <p><%= curso.horas %> horas</p>
                <h3>Certificado</h3>
                <% if(curso.certificado) { %>
                    <p>Certificado de <%= curso.tipo_cert %></p>
                <% } else { %>
                    <p>Para este curso no consta de certificado</p>
                <% } %>
                <h3>Costo</h3>
                <p> <i class="fa fa-dollar"></i><%= curso.precio %> dolares americanos</p>
            </div>
            <div id="menu1" class="tab-pane fade">
                <div><%- curso.descripcion %></div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Apuntate!</h3>
                 <% if(typeof msg != 'undefined') { %>
                        <% if(typeof msg.error != 'undefined' && msg.error.length > 0) { %>

                        <div class="alert alert-danger alert-dismissable" >
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <%= msg.error %>
                        </div>                        

                        <% } %>
                        <% if(typeof msg.info != 'undefined' && msg.info.length > 0) { %>
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <%= msg.info %>

                        </div>                  
                        <% } %>
                        <% } %>
                
                
                <% if(user != '') { %>
                    <% if(ya) { %>
                    <p class="label label-warning">YA ESTAS INSCRITO</p>
                    <p></p>
                    <p class="alert alert-info">
                        Realizar el depósito o transferencia de los $<%= curso.precio %> en la CTA. CTE. N. 2902244542 del BANCO DE LOJA, a nombre del Instituto Superior Tecnológico “Daniel Álvarez Burneo”.
                    </p>
                    <p></p>
                    <p class="alert alert-info">
                        Enviar el comprobante de depósito o transferencia al correo electrónico contaitsdab@fmsnor.org, indicando:
                    </p>
                    <ul class="alert alert-info">
                        <li>
                        ➢ motivo del depósito o transferencia (inscripción)
                        </li>
                        <li>
                        ➢ número de cédula
                        </li>
                        <li>
                        ➢ nombres y apellidos
                        </li>
                        <li>
                        ➢ correo electrónico
                        </li>
                        
                    </ul>
                    
                        
                    
                    <% } else { %>
                    <p><a href="/inscribete/<%= curso.external_id%>" class="btn">Apuntate!</a></p>
                    <% } %>
                <% } else { %>
                <p><a href="/inicioSesion" class="btn">Debes iniciar sesion</a></p>
                <% } %>
                
            </div>
        </div>
    </div>
</div>
