<!-- Header -->
<header id="head">
    <div class="container">
        <div class="heading-text">							
            <h1 class="animated flipInY delay1">Educación continua</h1>
            <p>Cursos que promociona el ISTDAB.</p>
        </div>

        <div class="fluid_container">                       
            <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                <div data-thumb="/img/logoec.jpg" data-src="/img/imagen-istdab1.jpg">
                    <h2>We develop.</h2>
                </div> 
                <div data-thumb="/assets/images/slides/thumbs/img1.jpg" data-src="/assets/images/slides/img1.jpg">
                    <h2>We develop.</h2>
                </div> 
                <div data-thumb="/assets/images/slides/thumbs/img2.jpg" data-src="/assets/images/slides/img2.jpg">
                </div>
                <div data-thumb="/assets/images/slides/thumbs/img3.jpg" data-src="/assets/images/slides/img3.jpg">
                </div> 
            </div><!-- #camera_wrap_3 -->
        </div><!-- .fluid_container -->
    </div>
</header>
<!-- /Header -->


<section class="news-box top-margin">
    <div class="container">
        <h2><span>Nuevos cursos</span></h2>
        <div class="row">
             <% if(nuevos.length == 0) { %>
            <span class="alert alert-info">NO EXISTE CURSOS OFERTADOS</span>
            <% } %>   
            
            <% nuevos.forEach(function (item, index) { %>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure ><a  href="/informacionCurso/<%= item.external_id%>"><img style="height: 200px" src="/images/uploads/curso-activo/<%= item.poster %>" height="150" alt=""></a></figure>
                            <div class="caption maxheight2">
                                <div class="box_inner">
                                    <div class="box">
                                        <p class="title"><h5><%= item.curso.nombre %></h5> </p>
                                    <p class="alert alert-info"><b>FASE:</b> <%= item.estado %></p>
                                        <p style="display: block; height: 3rem; overflow: hidden;"><%= item.resumen %></p>
                                        <p><a href="/informacionCurso/<%= item.external_id%>" class="btn-link btn-success">  Ver mas ...</a></p>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>          
            
           
        </div>
    </div>
</section>

<!-- SITIOS EN DESARROLLO -->
<section class="news-box top-margin">
    <div class="container">
        <h2><span>Próximamente en apertura</span></h2>
        <div class="row">
            <% if(desarrollo.length == 0) { %>
            <span class="alert alert-info">NO EXISTE POR EL MOMENTO</span>
            <% } %>          
            
            <% desarrollo.forEach(function (item, index) { %>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src="/images/uploads/curso-activo/<%= item.poster %>" style="height: 200px" alt=""></figure>
                            <div class="caption maxheight2">
                                <div class="box_inner">
                                    <div class="box">
                                        <p class="title"><h5><%= item.curso.nombre %></h5></p>
                                    <p class="alert alert-danger"><%= item.estado %></p>
                                    <p style="display: block; height: 3rem; overflow: hidden;"><%= item.resumen %></p>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>          
            
           
        </div>
    </div>
</section>
<!-- FIN -->

<!-- SITIOS PASADOS -->
<section class="news-box top-margin">
    <div class="container">
        <h2><span>Cursos pasados</span></h2>
        <div class="row">
            <% if(pasados.length == 0) { %>
            <span class="alert alert-info">NO EXISTE POR EL MOMENTO</span>
            <% } %>          
            <% pasados.forEach(function (item, index) { %>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src="/images/uploads/curso-activo/<%= item.poster %>" style="height: 200px" alt=""></figure>
                            <div class="caption maxheight2">
                                <div class="box_inner">
                                    <div class="box">
                                        <p class="title"><h5><%= item.curso.nombre %></h5></p>
                                    <p class="alert alert-warning"><%= item.estado %></p>
                                    <p style="display: block; height: 3rem; overflow: hidden;"><%= item.resumen %></p>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>          
            
           
        </div>
    </div>
</section>


<!-- <section class="container">
    <div class="row">
        <div class="col-md-8"><div class="title-box clearfix "><h2 class="title-box_primary">About Us</h2></div> 
            <p><span>Perspiciatis unde omnis iste natus error sit voluptatem. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus musull dui.</span></p>
            <p>Lorem ipsumulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Null dui. Fusce feugiat malesuada odio.</p><p>Lorem ipsumulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Null dui. Fusce feugiat malesuada odio.</p>
            <a href="#" title="read more" class="btn-inline " target="_self">read more</a> </div>


        <div class="col-md-4"><div class="title-box clearfix "><h2 class="title-box_primary">Up Coming Courses</h2></div> 
            <div class="list styled custom-list">
                <ul>
                    <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Mathematics and Computer Science</a></li>
                    <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Mathematics and Philosophy</a></li>
                    <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">Philosophy and Modern Languages</a></li>
                    <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci." href="#">History (Ancient and Modern)</a></li>
                    <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Classical Archaeology and Ancient History</a></li>
                    <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Physics and Philosophy</a></li>
                </ul>
            </div>
        </div>
    </div>
</section> -->
