<script>
    
    function link(comp, link) {
      // console.log(comp);
    //    console.log(link);
        var estado = document.getElementById(comp).value;
        if(estado == "") {
            estado = "NADA";
        }
      //  console.log(estado);
      
        document.getElementById(link).href = "/administrador/usuario/rol/"+comp+"/"+estado;//estado;
    }
</script>
<div class="card">
    <div class="card-header bg-facebook">
        <strong class="card-title text-white">LISTADO DE USUARIOS</strong>
    </div>
    <div class="card-body">

        <button type="button" class="btn bg-facebook mb-1 text-white" data-toggle="modal" data-target="#largeModal" onclick="document.getElementById('form').reset();">
            NUEVO
        </button>

        <table id="tabla" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nro</th>
                    <th>Usuario</th>
                    <th>Estado</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% lista.forEach(function (item, index) { %>
                <tr>
                    <td><%= (index + 1) %></td>
                    <td><%= item.apellidos %> <%= item.nombres %></td>
                    <td>
                        
                        <% if(item.cuenta.estado) { %>
                        <p class="badge badge-pill badge-primary">ACTIVO</p>
                        <% }else{ %>
                        <p class="badge badge-pill badge-warning">NO ACTIVO</p>
                        <% } %>
                    </td>
                    <td><%= item.correo %></td>
                    <td><%= item.rol.nombre %></td>
                  
                    <td>
                        
                        <% if(item.cuenta.estado) { %>
                        <a href="/administrador/usuario/estado/<%= item.external_id %>" class="btn btn-danger" onclick="return confirm('Desea dar de baja!')" style="color: white">Dar de baja</a>
                        <% } else { %>
                        <a href="/administrador/usuario/estado/<%= item.external_id %>" class="btn btn-warning" onclick="return confirm('Desea activarlo!')" style="color: white">Activar</a>
                        <% } %>
                        
                        <div class="small form-inline">
                            <select id="<%= item.external_id %>" onchange="link('<%= item.external_id %>', 'link_<%= item.external_id %>')">
                                <option value="">SELECCIONE</option>
                                <% roles.forEach(function (item1, index) { %>
                                
                                <% if(item1.nombre.toUpperCase() != item.rol.nombre.toUpperCase()) { %>
                                <option value="<%= item1.nombre %>"><%= item1.nombre.toUpperCase() %></option>
                                <% } %>

                                <% }) %>    
                            </select>
                            <a id="link_<%= item.external_id %>" href="/administrador/usuario/rol/<%= item.external_id %>/NADA" class="btn btn-warning btn-sm">CAMBIAR</a>
                        </div>
                        
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>



<script src="/admin/assets/js/lib/data-table/datatables.min.js"></script>


<script src="/admin/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="/admin/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="/admin/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="/admin/assets/js/lib/data-table/jszip.min.js"></script>
<script src="/admin/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="/admin/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="/admin/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="/admin/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="/admin/assets/js/init/datatables-init.js"></script>
<script src="/javascripts/fileinput.min.js"></script>
<script src="/themes/explorer-fa/theme.js" type="text/javascript"></script>


