<!--
Author: WebThemez
Author URL: http://webthemez.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="free-educational-responsive-web-template-webEdu">
        <meta name="author" content="webThemez.com">
        <title><%= title %></title>
        <link rel="favicon" href="/assets/images/favicon.png">
        <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css"> 
        <link rel="stylesheet" href="/assets/css/bootstrap-theme.css" media="screen"> 
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel='stylesheet' id='camera-css'  href='/assets/css/camera.css' type='text/css' media='all'> 
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <!-- Button for smallest screens -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class=" navbar-brand" style="color: #3d84e6; font-weight: bold" href="/">
                        <img src="/img/logo.jpg"  alt="Educacion continua">  <label class="label label-warning" style="color: #F7FE2E; padding-top: 10px; background-color: #210B61; font-weight: bold; font-size: 20px;">Educación Continua </label></a>
                    
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right mainNav">
                        <li class="active"><a href="/">Principal</a></li>
                        
                        <li><a href="http://186.5.31.198:8013/educacion-continua/" target="_blank">Plataforma virtual</a></li>
                        
                        <% if (user != '') { %>
                        <% if (user.rol == 'administrador' || user.rol == 'coordinador') { %>
                        <li><a href="/administrador">Administración</a></li>
                        <% }  %>
                        <li><a href="/inicioSesion">Cerrar sesión</a></li>
                        <% } else { %>
                        <li><a href="/inicioSesion">Iniciar sesión</a></li>
                        <% }  %>
                        <!--<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="sidebar-right.html">Right Sidebar</a></li>
                                <li><a href="#">Dummy Link1</a></li>
                                <li><a href="#">Dummy Link2</a></li>
                                <li><a href="#">Dummy Link3</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>-->

                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
        <!-- /.navbar -->
        
        <%- include(fragmento) %>  
        
        


        <footer id="footer">

            <div class="container">
                <div class="row">
                    <div class="footerbottom">
                        
                        
                        
                        <div class="col-md-6 col-sm-6"> 
                            <div class="footerwidget"> 
                                <h4>Contactos</h4> 
                                <p>Ing. Silvana Mendoza. Mgs</p>
                                <div class="contact-info"> 
                                    <i class="fa fa-map-marker"></i> ISTDAB <br>
                                    <i class="fa fa-phone"></i>+593-072576687 <br>
                                    <i class="fa fa-envelope-o"></i> educacioncistdab@itsmaristaloja.edu.ec
                                </div>                                 
                                
                            </div><!-- end widget --> 
                            <div class="footerwidget">
                                <p>-------------------------------------------</p>
                                <p>Ing. Maria Ureña. Mgs</p>
                                <div class="contact-info"> 
                                    <i class="fa fa-map-marker"></i> ISTDAB <br>
                                    <i class="fa fa-phone"></i>+593072576687 <br>
                                    <i class="fa fa-envelope-o"></i> msurena@itsmaristaloja.edu.ec 
                                </div> 
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-sm-6">
                            <div class="footerwidget">
                                <h4>
                                    Ubicacion
                                </h4>
                                <div class="footerwidget">
                                    <p><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3980.151888177299!2d-79.20335498595188!3d-3.989164045669288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cb48070cd42101%3A0x9bf78979c313c165!2sInstituto+Superior+Tecnol%C3%B3gico+%22Daniel+%C3%81lvarez+Burneo%22!5e0!3m2!1ses-419!2sec!4v1499095644399" width="100%" height="250" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="social text-center">
                    
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    
                </div>

                <div class="clear"></div>
                <!--CLEAR FLOATS-->
            </div>
            <div class="footer2">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 panel">
                            <div class="panel-body">
                                <p class="simplenav">
                                    <a href="/">Principal</a> | 
                                    <a href="https://www.itsmaristaloja.edu.ec/">ISTDAB</a> |
                                    
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 panel">
                            <div class="panel-body">
                                <p class="text-right">
                                    Copyright &copy; 2020. Instituto Superior Tecnológico Daniel Álvarez Burneo. Todos los derechos reservados. Loja - Ecuador
                                </p>
                            </div>
                        </div>

                    </div>
                    <!-- /row of panels -->
                </div>
            </div>
        </footer>

        <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
        <script src="/assets/js/modernizr-latest.js"></script> 
        <script type='text/javascript' src='/assets/js/jquery.min.js'></script>
        <script type='text/javascript' src='/assets/js/fancybox/jquery.fancybox.pack.js'></script>

        <script type='text/javascript' src='/assets/js/jquery.mobile.customized.min.js'></script>
        <script type='text/javascript' src='/assets/js/jquery.easing.1.3.js'></script> 
        <script type='text/javascript' src='/assets/js/camera.min.js'></script> 
        <script src="/assets/js/bootstrap.min.js"></script> 
        <script src="/assets/js/custom.js"></script>
        <script>
            jQuery(function () {

                jQuery('#camera_wrap_4').camera({
                    transPeriod: 500,
                    time: 3000,
                    height: '550',
                    loader: 'false',
                    pagination: true,
                    thumbnails: false,
                    hover: false,
                    playPause: false,
                    navigation: false,
                    opacityOnGrid: false,
                    imagePath: '/assets/images/'
                });

            });

        </script>

    </body>
</html>
